// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  // loading progress bar
  @include ngx-pace-theme();
};


.bg h4 {
  margin-bottom: 0;
  //color: #2a2a2a;
  //font-size: 1.125rem;
  //font-weight: 600;
  font-size: 20px;
  color: #000000;
  padding-bottom: 0.5rem;
}
.bg div {
  padding-left: 1rem;
  padding-top: 0;
}
